[mysqld]
# Identificador único del servidor Master
server-id = 1

# Protocolo de red e interfaces
bind-address = 0.0.0.0
port = 3306

# Configuración de Write-Ahead Logging (WAL) en InnoDB
# 1 = El log de transacciones (Redo Log) se vuelca a disco en cada COMMIT (Garantía estricta de DURABILIDAD)
innodb_flush_log_at_trx_commit = 1
innodb_log_buffer_size = 16M
innodb_file_per_table = 1
innodb_doublewrite = 1

# Configuración de Replicación MariaDB por GTID (Global Transaction Identifier)
log_bin = mysql-bin
binlog_format = ROW
binlog_checksum = CRC32
gtid_domain_id = 1
log_slave_updates = 1
expire_logs_days = 7
max_binlog_size = 100M

# Caracteres predeterminados
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[client]
default-character-set = utf8mb4
