[mysqld]
# Identificador único del servidor Replica 2 (PC3)
server-id = 3
read_only = 1

# Protocolo de red e interfaces
bind-address = 0.0.0.0
port = 3306

# Configuración WAL / InnoDB en Replica
innodb_flush_log_at_trx_commit = 1
innodb_log_buffer_size = 16M
innodb_file_per_table = 1

# Configuración de Replicación GTID
log_bin = mysql-bin
binlog_format = ROW
gtid_domain_id = 1
log_slave_updates = 1

# Caracteres predeterminados
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[client]
default-character-set = utf8mb4
